In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame: Vulture Migration Paths

In [2]:
excel_file = "Resources/Turkey vultures in North and South America - migration.xlsx"
vulture_data_df = pd.read_excel(excel_file, index_col=None)
vulture_data_df.head(2)

,event-id,visible,timestamp,location-long,location-lat,manually-marked-outlier,sensor-type,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier,...,animal-life-stage,animal-mass,attachment-type,deployment-comments,deployment-id,duty-cycle,study-site,tag-manufacturer-name,tag-mass,tag-model
0,283203879,True,2003-11-14 16:00:00.000,-75.39717,40.48933,False,gps,Cathartes aura,42500,Butterball,...,adult,2372.0,harness,trapped in Pennsylvania using padded-leg hold ...,42500-Butterball,1 fix per hour,East Coast of North America,Microwave Telemetry,70,PTT100
1,283203880,True,2003-11-14 17:00:00.000,-75.39717,40.48933,False,gps,Cathartes aura,42500,Butterball,...,adult,2372.0,harness,trapped in Pennsylvania using padded-leg hold ...,42500-Butterball,1 fix per hour,East Coast of North America,Microwave Telemetry,70,PTT100

In [3]:
vulture_data_df.columns

Index(['event-id', 'visible', 'timestamp', 'location-long', 'location-lat',
       'manually-marked-outlier', 'sensor-type',
       'individual-taxon-canonical-name', 'tag-local-identifier',
       'individual-local-identifier', 'study-name', 'utm-easting',
       'utm-northing', 'utm-zone', 'study-timezone', 'study-local-timestamp',
       'tag-id', 'animal-id', 'animal-taxon', 'deploy-on-date',
       'deploy-off-date', 'animal-comments', 'animal-life-stage',
       'animal-mass', 'attachment-type', 'deployment-comments',
       'deployment-id', 'duty-cycle', 'study-site', 'tag-manufacturer-name',
       'tag-mass', 'tag-model'],
      dtype='object')

In [4]:
vulture_data_df.keys()

Index(['event-id', 'visible', 'timestamp', 'location-long', 'location-lat',
       'manually-marked-outlier', 'sensor-type',
       'individual-taxon-canonical-name', 'tag-local-identifier',
       'individual-local-identifier', 'study-name', 'utm-easting',
       'utm-northing', 'utm-zone', 'study-timezone', 'study-local-timestamp',
       'tag-id', 'animal-id', 'animal-taxon', 'deploy-on-date',
       'deploy-off-date', 'animal-comments', 'animal-life-stage',
       'animal-mass', 'attachment-type', 'deployment-comments',
       'deployment-id', 'duty-cycle', 'study-site', 'tag-manufacturer-name',
       'tag-mass', 'tag-model'],
      dtype='object')

### Create new data with select columns

In [5]:
# Select columns 
new_vulture_data_df = vulture_data_df[['event-id', 'timestamp', 'location-long', 'location-lat','individual-taxon-canonical-name', 'tag-local-identifier',
       'individual-local-identifier']].copy()
new_vulture_data_df.head()

,event-id,timestamp,location-long,location-lat,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier
0,283203879,2003-11-14 16:00:00.000,-75.39717,40.48933,Cathartes aura,42500,Butterball
1,283203880,2003-11-14 17:00:00.000,-75.39717,40.48933,Cathartes aura,42500,Butterball
2,283203881,2003-11-14 18:00:00.000,-75.33317,40.32467,Cathartes aura,42500,Butterball
3,283203882,2003-11-14 19:00:00.000,-75.35617,40.33983,Cathartes aura,42500,Butterball
4,283203883,2003-11-14 20:00:00.000,-75.42650,40.31550,Cathartes aura,42500,Butterball

### Clean DataFrame

In [6]:
new_vulture_data_df.count()

event-id                           220077
timestamp                          220077
location-long                      220077
location-lat                       220077
individual-taxon-canonical-name    220077
tag-local-identifier               220077
individual-local-identifier        220077
dtype: int64

In [7]:
# drop rows without long and lat
new_vulture_data_df = new_vulture_data_df.dropna(how="any")
new_vulture_data_df.count()

event-id                           220077
timestamp                          220077
location-long                      220077
location-lat                       220077
individual-taxon-canonical-name    220077
tag-local-identifier               220077
individual-local-identifier        220077
dtype: int64

In [8]:
# filter data to only keep turkey vulture (Cathartes aura) data
new_vulture_data_df = new_vulture_data_df.loc[new_vulture_data_df
                                              ["individual-taxon-canonical-name"] == "Cathartes aura", :]
new_vulture_data_df.count()

event-id                           220077
timestamp                          220077
location-long                      220077
location-lat                       220077
individual-taxon-canonical-name    220077
tag-local-identifier               220077
individual-local-identifier        220077
dtype: int64

In [9]:
new_vulture_data_df.dtypes

event-id                             int64
timestamp                           object
location-long                      float64
location-lat                       float64
individual-taxon-canonical-name     object
tag-local-identifier                 int64
individual-local-identifier         object
dtype: object

In [10]:
# check to prevent duplicate loading (inqury for database)

### Store Info CSV to DataFrame

In [11]:
#new_vulture_data_df

### Connect to local database

In [12]:
database_path = "vulture_etl"
engine = create_engine(f"sqlite:///{database_path}")

### Check for tables

In [13]:
engine.table_names()

['migration_paths', 'vulture_detail']

### Use pandas to load csv converted DataFrame into database

In [14]:
new_vulture_data_df.to_sql(name='migration_paths', con=engine, if_exists='append', index=False)

OperationalError: (sqlite3.OperationalError) table migration_paths has no column named event-id [SQL: 'INSERT INTO migration_paths ("event-id", timestamp, "location-long", "location-lat", "individual-taxon-canonical-name", "tag-local-identifier", "individual-local-identifier") VALUES (?, ?, ?, ?, ?, ?, ?)'] [parameters: ((283203879, '2003-11-14 16:00:00.000', -75.39717, 40.48933, 'Cathartes aura', 42500, 'Butterball'), (283203880, '2003-11-14 17:00:00.000', -75.39717, 40.48933, 'Cathartes aura', 42500, 'Butterball'), (283203881, '2003-11-14 18:00:00.000', -75.33317, 40.32467, 'Cathartes aura', 42500, 'Butterball'), (283203882, '2003-11-14 19:00:00.000', -75.35617, 40.33983, 'Cathartes aura', 42500, 'Butterball'), (283203883, '2003-11-14 20:00:00.000', -75.4265, 40.3155, 'Cathartes aura', 42500, 'Butterball'), (283203884, '2003-11-14 21:00:00.000', -75.405, 40.30383, 'Cathartes aura', 42500, 'Butterball'), (283203885, '2003-11-14 22:00:00.000', -75.41133, 40.29567, 'Cathartes aura', 42500, 'Butterball'), (283203886, '2003-11-14 23:00:00.000', -75.41167, 40.29567, 'Cathartes aura', 42500, 'Butterball')  ... displaying 10 of 220077 total bound parameter sets ...  (283231958, '2012-10-21 19:52:00.000', -76.2445, 40.7948, 'Cathartes aura', 85756, 'Mary'), (283231959, '2012-10-21 21:01:00.000', -76.245, 40.7916, 'Cathartes aura', 85756, 'Mary'))] (Background on this error at: http://sqlalche.me/e/e3q8)

### Use pandas to import second csv: Vulture Info by name

In [15]:
csv_file = "Resources/Turkey vultures in North and South America-reference-data.csv"
vulture_info_df = pd.read_csv(csv_file, low_memory=False)
vulture_info_df

,tag-id,animal-id,animal-taxon,deploy-on-date,deploy-off-date,animal-comments,animal-life-stage,animal-mass,attachment-type,deployment-comments,deployment-id,duty-cycle,study-site,tag-manufacturer-name,tag-mass,tag-model
0,42500,Butterball,Cathartes aura,2003-11-14 16:00:00.000,2004-03-14 20:00:01.000,migratory,adult,2372.0,harness,trapped in Pennsylvania using padded-leg hold ...,42500-Butterball,1 fix per hour,East Coast of North America,Microwave Telemetry,70.0,PTT100
1,52067,Irma,Cathartes aura,2004-09-06 17:00:00.000,2013-03-18 22:00:01.000,non-migratory,adult,2012.0,harness,trapped in Pennsylvania using padded-leg hold ...,52067-Irma,1 fix per hour,East Coast of North America,Microwave Telemetry,70.0,PTT100
2,42500,Schaumboch,Cathartes aura,2004-10-08 15:00:00.000,2006-03-29 17:00:01.000,migratory,adult,1951.0,harness,trapped in Pennsylvania using padded-leg hold ...,42500-Schaumboch,1 fix per hour,East Coast of North America,Microwave Telemetry,70.0,PTT100
3,52069,Disney,Cathartes aura,2004-10-11 14:00:00.000,2011-10-18 23:00:01.000,migratory,adult,2108.0,harness,trapped in Pennsylvania using padded-leg hold ...,52069-Disney,1 fix per hour,East Coast of North America,Microwave Telemetry,70.0,PTT100
4,57954,Prado,Cathartes aura,2005-11-02 15:00:00.000,2009-07-07 00:00:01.000,non-migratory,adult,1710.0,harness,trapped in California using walk-in traps,57954-Prado,1 fix per hour,West Coast of North America,Microwave Telemetry,70.0,PTT100
5,57955,Sarkis,Cathartes aura,2006-02-25 23:00:00.000,2007-06-02 20:00:01.000,migratory,adult,1810.0,harness,trapped in California using walk-in traps,57955-Sarkis,1 fix per hour,West Coast of North America,Microwave Telemetry,70.0,PTT100
6,57957,Morongo,Cathartes aura,2006-04-10 04:00:00.000,2009-04-05 22:00:01.000,migratory,adult,1750.0,harness,trapped in California using walk-in traps,57957-Morongo,1 fix per hour,West Coast of North America,Microwave Telemetry,70.0,PTT100
7,57956,Rosalie,Cathartes aura,2006-04-11 04:00:00.000,2010-03-28 00:00:01.000,migratory,adult,1975.0,harness,trapped in California using walk-in traps,57956-Rosalie,1 fix per hour,West Coast of North America,Microwave Telemetry,70.0,PTT100
8,65545,Leo,Cathartes aura,2007-09-24 17:00:00.000,2013-03-15 12:00:01.000,migratory,adult,NaN,harness,trapped on their nests in Saskatchewan,65545-Leo,1 fix per hour,Interior of North America,Microwave Telemetry,70.0,PTT100
9,65544,Mac,Cathartes aura,2007-09-27 20:00:00.000,2008-09-13 16:00:01.000,migratory,adult,NaN,harness,trapped on their nests in Saskatchewan,65544-Mac,1 fix per hour,Interior of North America,Microwave Telemetry,70.0,PTT100
10,84796,Young Luro,Cathartes aura,2009-03-31 15:00:00.000,2012-09-19 21:00:01.000,migratory,juvenile,NaN,harness,trapped in La Pampa Argentina using walk-in an...,84796-Young Luro,1 fix every 3 hours,Interior of South America,Northstar Science and Technology,40.0,40GPS
11,85753,Steamhouse 1,Cathartes aura,2009-09-25 18:20:39.000,2011-11-25 06:01:01.000,migratory,adult,1600.0,harness,trapped on their nests in Saskatchewan,85753-Steamhouse 1,1 fix every 3 hours,Interior of North America,Northstar Science and Technology,40.0,40GPS
12,85754,Steamhouse 2,Cathartes aura,2009-09-30 15:00:39.000,2013-03-19 03:00:01.000,migratory,adult,1900.0,harness,trapped on their nests in Saskatchewan,85754-Steamhouse 2,1 fix every 3 hours,Interior of North America,Northstar Science and Technology,40.0,40GPS
13,85756,Mary,Cathartes aura,2009-10-20 09:00:46.000,2012-10-21 21:01:01.000,non-migratory,adult,2426.0,harness,trapped in Pennsylvania using padded-leg hold ...,85756-Mary,1 fix every 3 hours,East Coast of North America,Northstar Science and Technology,40.0,40GPS
14,85755,Mark,Cathartes aura,2009-10-26 18:00:24.000,2012-10-03 21:00:01.000,migratory,adult,2431.0,harness,trapped in Pennsylvania using padded-leg hold ...,85755-Mark,1 fix every 3 hours,East Coast of North America,Northstar Science and Technology,40.0,40GPS
15,84797,Domingo,Cathartes aura,2011-03-20 12:00:00.000,2012-05-30 18:00:01.000,migratory,adult,NaN,harness,trapped in La Pampa Argentina using walk-in an...,84797-Domingo,1 fix every 3 hours,Interior of South America,Northstar Science and Technology,40.0,40GPS
16,53798,Whitey,Cathartes aura,2011-03-26 13:52:00.000,2012-10-12 03:39:01.000,migratory,adult,NaN,harness,trapped in La Pampa Argentina using walk-in an...,53798-Whitey,1 fix every 3 hours,Interior of South America,Northstar Science and Techology,40.0,40GPS
17,53797,La Pampa,Cathartes aura,2011-04-16 15:51:00.000,2012-09-26 00:54:01.000,migratory,adult,NaN,harness,trapped in La Pampa Argentina using walk-in an...,53797-La Pampa,1 fix every 3 hours,Interior of South America,Northstar Science and Technology,40.0,40GPS
18,53800,Argentina,Cathartes aura,2011-04-19 16:36:00.000,2012-09-23 03:13:01.000,migratory,adult,NaN,harness,trapped in La Pampa Argentina using walk-in an...,53800-Argentina,1 fix every 3 hours,Interior of South America,Northstar Science and Technology,40.0,40GPS

In [16]:
vulture_info_df.columns

Index(['tag-id', 'animal-id', 'animal-taxon', 'deploy-on-date',
       'deploy-off-date', 'animal-comments', 'animal-life-stage',
       'animal-mass', 'attachment-type', 'deployment-comments',
       'deployment-id', 'duty-cycle', 'study-site', 'tag-manufacturer-name',
       'tag-mass', 'tag-model'],
      dtype='object')

In [17]:
# Select columns 
new_vulture_info_df = vulture_info_df[['tag-id', 'animal-id', 'animal-taxon', 'deploy-on-date',
       'deploy-off-date', 'animal-comments', 'animal-life-stage',
       'animal-mass',  'deployment-comments',
        'study-site']].copy()
new_vulture_info_df.head(1)

,tag-id,animal-id,animal-taxon,deploy-on-date,deploy-off-date,animal-comments,animal-life-stage,animal-mass,deployment-comments,study-site
0,42500,Butterball,Cathartes aura,2003-11-14 16:00:00.000,2004-03-14 20:00:01.000,migratory,adult,2372.0,trapped in Pennsylvania using padded-leg hold ...,East Coast of North America

In [18]:
new_vulture_info_df.count()

tag-id                 19
animal-id              19
animal-taxon           19
deploy-on-date         19
deploy-off-date        19
animal-comments        19
animal-life-stage      19
animal-mass            12
deployment-comments    19
study-site             19
dtype: int64

In [19]:
new_vulture_info_df.to_sql(name='vulture_detail', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [20]:
pd.read_sql_query('select * from migration_paths', con=engine).head()

,timestamp,location-long,location-lat,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier
0,2003-11-14 16:00:00.000,-75.39717,40.48933,Cathartes aura,42500,Butterball
1,2003-11-14 17:00:00.000,-75.39717,40.48933,Cathartes aura,42500,Butterball
2,2003-11-14 18:00:00.000,-75.33317,40.32467,Cathartes aura,42500,Butterball
3,2003-11-14 19:00:00.000,-75.35617,40.33983,Cathartes aura,42500,Butterball
4,2003-11-14 20:00:00.000,-75.42650,40.31550,Cathartes aura,42500,Butterball

### Confirm data has been added by querying the customer_location table

In [21]:
pd.read_sql_query('select * from vulture_detail', con=engine).head()

,tag-id,animal-id,animal-taxon,deploy-on-date,deploy-off-date,animal-comments,animal-life-stage,animal-mass,deployment-comments,study-site
0,42500,Butterball,Cathartes aura,2003-11-14 16:00:00.000,2004-03-14 20:00:01.000,migratory,adult,2372.0,trapped in Pennsylvania using padded-leg hold ...,East Coast of North America
1,52067,Irma,Cathartes aura,2004-09-06 17:00:00.000,2013-03-18 22:00:01.000,non-migratory,adult,2012.0,trapped in Pennsylvania using padded-leg hold ...,East Coast of North America
2,42500,Schaumboch,Cathartes aura,2004-10-08 15:00:00.000,2006-03-29 17:00:01.000,migratory,adult,1951.0,trapped in Pennsylvania using padded-leg hold ...,East Coast of North America
3,52069,Disney,Cathartes aura,2004-10-11 14:00:00.000,2011-10-18 23:00:01.000,migratory,adult,2108.0,trapped in Pennsylvania using padded-leg hold ...,East Coast of North America
4,57954,Prado,Cathartes aura,2005-11-02 15:00:00.000,2009-07-07 00:00:01.000,non-migratory,adult,1710.0,trapped in California using walk-in traps,West Coast of North America

In [22]:
engine.table_names()

['migration_paths', 'vulture_detail']

In [23]:
conn = engine.connect()

from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

session = Session(bind=engine)
Base.metadata.create_all(engine)

In [24]:

session.commit()

In [25]:
names = session.query(migration_paths)
for name in names:
    print(migration_paths.animal-id)

NameError: name 'migration_paths' is not defined

# list of cities

In [26]:
from citipy import citipy

In [27]:
lats = new_vulture_data_df['location-lat'].values.tolist()
lngs = new_vulture_data_df['location-long'].values.tolist()
type(lngs)

list

In [37]:
lat_lngs = []
cities = []

In [39]:
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    cities.append(city)

In [54]:
len(cities)
cities[-1]

'pottsville'

In [61]:
cities_df = new_vulture_data_df[['event-id', 'location-lat', 'location-long']]
cities_df["cities"] = pd.DataFrame({"cities" : cities})
cities_df[['event-id', 'location-lat', 'location-long', 'cities']]

C:\Users\h4wth\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         event-id  location-lat  location-long          cities
0       283203879      40.48933      -75.39717          emmaus
1       283203880      40.48933      -75.39717          emmaus
2       283203881      40.32467      -75.33317        lansdale
3       283203882      40.33983      -75.35617        lansdale
4       283203883      40.31550      -75.42650        lansdale
5       283203884      40.30383      -75.40500        lansdale
6       283203885      40.29567      -75.41133        lansdale
7       283203886      40.29567      -75.41167        lansdale
8       283203887      40.29600      -75.41183        lansdale
9       283203888      40.29583      -75.41167        lansdale
10      283203889      40.29583      -75.41167        lansdale
11      283203890      40.29583      -75.41167        lansdale
12      283203891      40.29567      -75.41167        lansdale
13      283203892      40.26183      -75.39233        lansdale
14      283203893      40.25617      -75.39700        lansdale
15      283203894      40.25617      -75.39700        lansdale
16      283203895      40.22433      -75.36500   east norriton
17      283203896      40.02283      -75.35233        broomall
18      283203897      40.02067      -75.35400        broomall
19      283203898      40.02067      -75.35417        broomall
20      283203899      40.01333      -75.35533        broomall
21      283203900      40.01267      -75.35567        broomall
22      283203901      40.01250      -75.35583        broomall
23      283203902      39.68100      -75.88867          elkton
24      283203903      39.55483      -76.00667  havre de grace
25      283203904      39.55483      -76.00683  havre de grace
26      283203905      39.55450      -76.00667  havre de grace
27      283203906      39.55483      -76.00683  havre de grace
28      283203907      39.55467      -76.00683  havre de grace
29      283203908      39.55467      -76.00717  havre de grace
...           ...           ...            ...             ...
220047  283231930      40.79160      -76.24480      pottsville
220048  283231931      40.79140      -76.24480      pottsville
220049  283231932      40.79190      -76.24480      pottsville
220050  283231933      40.79150      -76.24490      pottsville
220051  283231934      40.79160      -76.24490      pottsville
220052  283231935      40.79100      -76.24470      pottsville
220053  283231936      40.79130      -76.24480      pottsville
220054  283231937      40.79220      -76.24460      pottsville
220055  283231938      40.79140      -76.24470      pottsville
220056  283231939      40.79170      -76.24490      pottsville
220057  283231940      40.79180      -76.24490      pottsville
220058  283231941      40.79140      -76.24470      pottsville
220059  283231942      40.79150      -76.24490      pottsville
220060  283231943      40.79160      -76.24490      pottsville
220061  283231944      40.79200      -76.24510      pottsville
220062  283231945      40.79140      -76.24470      pottsville
220063  283231946      40.79150      -76.24480      pottsville
220064  283231947      40.78990      -76.24340      pottsville
220065  283231948      40.79160      -76.24490      pottsville
220066  283231949      40.79180      -76.24490      pottsville
220067  283231950      40.79160      -76.24500      pottsville
220068  283231951      40.79090      -76.24490      pottsville
220069  283231952      40.79160      -76.24480      pottsville
220070  283231953      40.79160      -76.24500      pottsville
220071  283231954      40.79170      -76.24500      pottsville
220072  283231955      40.79160      -76.24470      pottsville
220073  283231956      40.79200      -76.24460      pottsville
220074  283231957      40.79060      -76.24400      pottsville
220075  283231958      40.79480      -76.24450      pottsville
220076  283231959      40.79160      -76.24500      pottsville

[220077 rows x 4 columns]